schema/dist
template/dist
ui/dist
workflow/dist
model/dist
ui/dist
.pl_auth.json
test/work
test/.test_auth.json
node_modules/
.idea
block-pack
log/
.turbo
.test_auth.json
dist/
block-pack/
dev/
work/
vite.config.*.timestamp-*
software/**/*.tgz
.DS_Store
.vscode/sftp.json
test-dry-run.json
