@mixin scrollbar($y: true, $x: false, $over: auto) {
    &::-webkit-scrollbar {
        width: 6px;
        height: 5px;
        padding-right: 5px;
        background-color: transparent;
        display: block;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--color-ic-02);
        border-radius: 5px;
    }

    @if $y {
        overflow-y: $over;
    }

    @if $x {
        overflow-x: $over;
    }

    &:hover {
        --color-ic-02: var(--border-color-focus);
    }
}

.add-graph {
    display: flex;
    width: 670px;
    overflow: auto;
    position: relative;
    flex-wrap: wrap;
    gap: 6px;
    @include scrollbar;
}

.add-graph-item {
    border-radius: 6px;
    border: 1px solid var(--color-div-grey);
    background: radial-gradient(141.42% 141.42% at 0% 0%, #D4F5C4 0%, #FFF 61.48%);
    width: 160px;
    height: 160px;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: all .2s ease-in-out;

    &:hover {
        border: 1px solid var(--color-border-default);
        cursor: pointer;
    }

    &:hover &__icon {
        opacity: 1;
    }

    &__icon {
        line-height: 0;
        opacity: 0;
        transition: all .3s ease-in-out;
    }

    &__divider {
        flex-grow: 1;
    }

    &__image-wrapper {
        background: url('./add-graph-bg.svg') no-repeat center;
        width: 96px;
        height: 96px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__title {
        color: var(--color-txt-01);
        font-family: Manrope;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
    }

    &__below {
        padding: 8px 16px 16px 16px;
        display: flex;
        align-items: center;
        flex-grow: 1;
    }
}