@mixin scrollbar($y: true, $x: false, $over: auto) {
    &::-webkit-scrollbar {
        width: 6px;
        height: 5px;
        padding-right: 5px;
        background-color: transparent;
        display: block;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--color-ic-02);
        border-radius: 5px;

        &:hover {
            --color-ic-02: var(--border-color-focus);
        }
    }

    @if $y {
        overflow-y: $over;
    }

    @if $x {
        overflow-x: $over;
    }
}

.add-graph {
    display: grid;
    grid-template-columns: 320px 320px 320px;
    gap: 0px;

    @media screen and (max-width: 1280px) {
        grid-template-columns: 320px 320px;
    }

    &__item {
        cursor: pointer;
        display: flex;
        width: 320px;
        height: 128px;
        flex-shrink: 0;
        border-radius: 8px;
        border: 1px solid var(--border-color-div-grey);
        background-color: var(--bg-elevated-01);
        padding: 14px 12px 14px 20px;
        align-items: center;
        transition: background-color .2s ease-in-out;

        &:hover {
            background-color: rgba(99, 224, 36, 0.12);
            transition: background-color .2s ease-in-out;
        }
    }

    &__title {
        color: var(--txt-01);
        font-family: Manrope;
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        text-transform: capitalize;
    }

    &__description {
        color: var(--txt-03) !important;
    }

    &__icon {
        width: 100px;
        height: 100px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__icon-hover {
        position: absolute;
        inset: 0;
        display: block;
        opacity: 0;
        transition: opacity .2s ease-in-out;
    }



    &:hover &__icon-hover {
        opacity: 1;
        transition: opacity .2s ease-in-out;
    }
}

.add-graph-section {
    display: grid;
    grid-template-columns: calc(320px * 3);
    gap: 24px;
    @include scrollbar();

    .pl-search-input {
        position: sticky;
        top: 0;
        z-index: 1;
        background-color: var(--bg-elevated-01);
    }

    @media screen and (max-width: 1280px) {
        grid-template-columns: calc(320px * 2);
    }
}